:root {
  --app-bg-color: #6EA283; /* #295073 */
  --header-bg-color: #233C37;
  --header-text-light: #88d560;
  --hover: #38243d46;
  --text-hover: #dcd560;
  --text-active: #659d4b;
  --content-color: #3B634D; /* f3fdfd faf3e0*/
  --text-standart-light: #e8d0d0;
  --text-visited: #4a4a4a;
}

* {
  margin: 0;
  padding: 0;
  font-family:'Courier New', Courier, monospace;
}
a {
  font-weight: normal;
}
a:visited {
  color: var(--text-standart);
}
a:focus {
  color: var(--text-active)
}